{% extends "jobs/submit_base.html" %}

{% block form_fields %}
        <div class="mb-3">
          <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
          {{ form.name }}
          <div class="form-text">{{ form.name.help_text }}</div>
          {{ form.name.errors }}
        </div>

        <div class="mb-3">
          <label for="{{ form.runner.id_for_label }}" class="form-label">Model</label>
          {{ form.runner }}
          {{ form.runner.errors }}
        </div>

        <div class="mb-3">
          <label for="{{ form.sequences.id_for_label }}" class="form-label">Sequences</label>
          {{ form.sequences }}
          <div class="form-text">{{ form.sequences.help_text }}</div>
          {{ form.sequences.errors }}
        </div>
{% endblock %}
